.epfl-signatures-main {
    margin-left: 5vw;
    margin-right: 5vw;
}

.main-header {
    margin-top: 3vh;
}

.main-header input, .form-group {
    width: 25vw;
}

.input-and-btn {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.input-and-btn button {
    border-radius: 10px;
}

#sciper-input, .accred-selection, .accred-selection-phone {
    min-width: 220px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
}

.ui-autocomplete-loading {
    background: white url("https://i.gifer.com/origin/4a/4a287dd4b9222ebb17dc354257d0ef79_w200.gif") right center no-repeat;
    background-size: 5%;
}

.sign-xl, .sign-l, .sign-m {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 35vw;
    min-width: 450px;
}

@media only screen and (max-width: 500px) {
    .sign-xl, .sign-l, .sign-m {
      display: block;
      min-width: none;
    }

    .fifty-percent-btn {
        width: 50%;
    }
}

.tox-tinymce {
    min-width: 245px;
}

.copy-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 1.5rem;
    align-items: center;
}